body {
  background: rgb(20,20,20);
}

p {
  color: rgb(210,210,210);
  font-size: 30px;
}

select {
  color: rgb(210,210,210);
  background-color: rgb(40,40,40);
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

button {
  background-color: rgb(40,40,40);
  color: rgb(210,210,210);
  border: none;
  padding: 8px 50px;
  border-radius: 60px;
  font-size: 20px;
  outline: none;
}

button:focus {
  outline: none;
  /* border: none; */
}

.start-button {
  background-color: rgb(20, 160, 20);
}

.price-row {
  padding: 40px
}

.price {
  padding: 15px 0 0;
}